.blogsContainer {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftCol {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.rightCol {
    /* width: 30%; */
}

.blogCard {
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

@media (max-width: 960px) {
    .blogsContainer {
        flex-direction: column;
    }
    .leftCol {
        grid-template-columns: 1fr;
    }
}
