/* Fairview Blue - #16469f */



.root {}

.contact {
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    background-color: #16469f;
    color: white;
    display: flex;
    justify-content: center;
}

.contactItem {
display: flex;
align-items: center;
margin: 0 1rem;
}

.permContactItem {
    display: flex;
    align-items: center;
    margin: 0 1rem
 }

.navbar {
display: flex;
align-items: center;
padding: 0 4rem;

}

.imgLink:hover {
    cursor: pointer;
}
  
.navbarCollapse {
   margin-left: auto;
}


.collapseIcon {
    margin-left: auto;
    display: none;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 7px;
}

.collapseIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.navbarNav {
    margin-left: auto;
}

.navbarList {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
}

.navbarItem {
    list-style: none;
    margin: 10px;
    padding: 5px;
    height: 30px
    
}

.navbarItem:hover {
    cursor: pointer;
    border-bottom: 2px solid #16469f;
}

.navExpanded {
    flex-direction: column;
    box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.3);
    z-index: 1200;
    align-items: center;
    display: none;
}

.navExpanded ul {
    padding: 0
}

.navbarExpandedItem {
    list-style: none;
    margin: 10px;
    padding: 5px;
    height: 30px; 
}

.navbarExpandedItem:hover {
    cursor: pointer;
}

.navbar {
    transition: all 1s linear;
}

@media (max-width: 960px){
    .navbar {
        padding: 0 1rem;
    }
    .navbarCollapse {
        display: none;
    }
    .contactItem {
        display: none;
    }
    .collapseIcon {
        display: block;
    }
    .navExpanded {
        display: flex;
    }
}

.dropdownNav:hover .dropdownContent {display: block;}